<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @npc.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @npc.level %>
</p>

<p>
  <strong>Defeated by char:</strong>
  <%= @npc.defeated_by_char %>
</p>

<%= link_to 'Edit', edit_npc_path(@npc) %> |
<%= link_to 'Back', npcs_path %>
